/*--------banner title---------- */
.section-banner{
    margin-top: 10px;
}
.contact-banner{
    margin-top: -160px;
    padding-left: 40px;
}
.contact-banner h4{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
.contact-banner li{
    list-style-type: none;
    color: aliceblue;
    padding-top: 7px;
    padding-left: 12px;
}

/*--------doctor-book--------- */
.doctor-book{
    background-color: #0087be;
}
#doctors-details{
    border: 2px solid black;
    background-color: rgba(243, 228, 239, 1);
    border: none;
    margin-left: 80px;
    height: 68vh;
    width: 25%;
    
}
.doctors-text hr{
    margin-top: 10px;
}
#doctors-details p ul li{
    color: black;
}
.doctors-text li{
    color: #1c1a1a;
}
.row .doctors-text{
    margin-left: 80px;
    margin-top: 40px;
}
.doctor-book{
    background-color: #0087be;
    height: 30vh;
} 
.col-lg-6 h4{
    color: #1c1a1a;
    margin-top: 70px;
    margin-left: 30px;
}
.col-lg-6 button{
    margin-top: 70px; 
    margin-left: 200px;
}

